@use "../utils/fonts" as f;

/* Inspired by Josh Cormeau CSS reset */

// Use a more-intuitive box-sizing model
*,
*::before,
*::after {
	box-sizing: border-box;
}

// Global font + margin reset
* {
	font-family: f.$font;
	margin: 0;
}

// Accessible line-height
// Improved text rendering
// Smooth scrolling for same page navigation
html {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

// Default styles for body
div#root,
#app {
	position: relative;
	text-align: start;

	height: 100vh;
	max-width: 100%;

	background-color: var(--primary-light);
	color: var(--primary-dark);
}

main {
	padding-inline: 1.5rem;
}

// Improve media defaults
img,
picture,
video,
canvas,
svg {
	display: inline-block;
	max-width: 100%;
}

// Remove built-in form typography styles
input,
button,
textarea,
select {
	font: inherit;
}

// Avoid text overflows
// Responsive & accessible text sizing
h1,
h2,
h3,
h4,
h5,
h6,
p {
	overflow-wrap: break-word;
}

h1 {
	font-size: clamp(1.625rem, 1rem + 2vw, 2.25rem);
}

h2 {
	font-size: clamp(1.5rem, 0.825rem + 2vw, 2rem);
}

h3 {
	font-size: clamp(1.375rem, 0.75rem + 2vw, 1.75rem);
}

h4 {
	font-size: clamp(1.25rem, 0.625rem + 1.75vw, 1.5rem);
}

h5 {
	font-size: clamp(1.125rem, 0.5rem + 1.75vw, 1.25rem);
}

h6 {
	font-size: 1rem;
}

a,
a:visited,
a:active {
	color: inherit;
	text-decoration: none;
}

// Force a root stacking context
// #root,
// #__next {
// 	isolation: isolate;
// }
