// BUTTON GROUPS
.btns {
	justify-content: start;
	align-items: self-end;
	gap: 1rem;

	& .modal {
		border-radius: 0.25rem;
		justify-self: end;
		margin: 0 1.5rem;
		width: max-content;
		text-align: end;

		background-color: var(--primary-blue);
		color: var(--primary-light);
		padding: 0 0.5rem 0 1.5rem;

		&:hover {
			background-color: var(--rich-blue);
			color: var(--primary-light);
		}
	}
}

button {
	transition: all 0.15s ease-in;
	border-radius: 15px;

	// SEARCH BUTTON
	&.search {
		&__top,
		&__dashboard {
			&:active {
				transform: scale(0.975);
			}
		}

		&__top {
			margin-left: 1px;
			border-radius: 1px;
			border: 1px solid var(--primary-light);

			&:hover {
				background-color: var(--grey);
			}
		}

		&__dashboard {
			background-color: var(--primary-blue);
			color: var(--primary-light);
			border: 3px solid var(--primary-blue);
			padding: 0 0.5rem;

			&:hover {
				background-color: var(--light-blue);
				border: 3px solid var(--light-blue);
			}
			&:active {
				transform: scale(0.95);
				border: 3px solid var(--primary-dark);
			}
		}
	}

	// LOGIN BUTTON
	&.login {
		padding: 0.25rem 0.5rem;
		margin: 1rem auto;
		background-color: var(--primary-light);
		color: var(--primary-dark);

		width: 10rem;
		border-radius: 30px;
		border: none;
		box-shadow: 1px 1px 5px 5px var(--primary-dark);

		&:hover {
			background-color: var(--rich-blue);
			color: var(--primary-light);
		}

		&:active {
			transform: scale(0.975);
		}
	}

	// DASHBOARD BUTTONS
}
