button {
	transition: all 0.15s ease-in;
	border-radius: 15px;

	// SEARCH BUTTONS
	&.search {
		&__top,
		&__dashboard {
			&:active {
				transform: scale(0.975);
			}
		}

		&__top {
			margin-left: 1px;
			border-radius: 1px;
			border: 1px solid var(--primary-light);

			&:hover {
				background-color: var(--accent);
				border: 1px solid var(--accent);
			}
		}

		&__dashboard {
			background-color: var(--accent2);
			color: var(--primary-light);
			border: 2px solid var(--accent2);

			&:hover {
				background-color: var(--accent3);
				border: 2px solid var(--accent3);
			}
			&:active {
				border: 2px solid var(--primary-dark);
			}
		}
	}

	// LOGIN BUTTON
	&.login {
		padding: 0.25rem 0.5rem;
		margin: 1rem auto;
		background-color: var(--primary-light);
		color: var(--primary-dark);

		width: 10rem;
		border-radius: 30px;
		border: none;
		box-shadow: 1px 1px 5px 5px var(--primary-dark);

		&:hover {
			background-color: var(--accent2);
			color: var(--primary-light);
		}

		&:active {
			transform: scale(0.975);
		}
	}

	// DASHBOARD BUTTONS
}
