@use "../utils/mixins" as u;

form {
	& span {
		display: inline-block;
		margin: 0.5rem;
		text-align: end;
	}

	& input,
	textarea {
		&.big {
			width: 9rem;
		}

		&.med {
			width: 7.5rem;
		}

		&.small {
			width: 6rem;
		}

		&[readonly] {
			background-color: var(--grey);
			border: 1px solid var(--dark-grey);
			border-radius: 2px;
			color: black;
			height: 1.5rem;

			&.status {
				border: none;
				font-weight: bold;
				color: green;

				&:hover {
					box-shadow: none;
				}
			}

			&:hover {
				box-shadow: 0 0 0.25rem 0 var(--rich-blue);
			}
		}

		&.checkbox:hover {
			box-shadow: none;
		}
	}

	& legend {
		margin-bottom: 2.5rem;
	}

	&.form {
		&__login {
			margin: 5rem auto;
			padding: 2.5rem 6.25rem;

			background-color: var(--primary-blue);
			color: var(--primary-light);

			border-radius: 1rem;
			box-shadow: 1px 1px 10px 3px var(--grey);

			& span {
				width: 6.25rem;
				margin-right: 1rem;
			}
		}

		&__header {
			margin: 0 1.25rem;
		}

		&__search {
			width: 40%;
			padding: 1rem;
			box-shadow: 1px 1px 1px 1px var(--grey);

			& label {
				margin: -0.125rem auto;
			}

			& input {
				height: 1.5rem;
				margin: 0;
				width: 9rem;
			}

			& legend {
				align-self: flex-start;
				font-weight: bold;
			}

			& span {
				width: 10rem;
				font-size: 0.75rem;
				margin-right: 1rem;
				font-weight: bold;
			}

			@include u.breakpoint-min(xl) {
				width: 30%;
			}
		}

		&__readonly {
			justify-content: start;

			& span {
				width: 8.5rem;
			}

			& label {
				margin: -0.25rem auto;
			}

			& textarea {
				height: 5rem;
				margin-top: 0.5rem;
				&:hover {
					box-shadow: none;
				}
			}
		}
	}
}
