.loading {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: #74869ab0;

	& .loader {
		border-top: 10px double var(--light-blue);
		border-right: 10px double var(--light-blue);
		border-radius: 50%;
		width: 6.25rem;
		height: 6.25rem;
		animation: spin 1s linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
		border-top: 10px double var(--rich-blue);
		border-right: 10px double var(--rich-blue);
	}
	100% {
		transform: rotate(360deg);
	}
}
