.nav {
	&__primary {
		display: inline-block;
		margin: 0.4rem 0;
		border-bottom: 2px solid lightgray;

		& a {
			background-color: var(--accent2);
			color: var(--primary-light);
			margin: 0 1px 0 0;
			padding: 0.5rem 1rem;

			&:hover {
				background-color: var(--primary-light);
				color: var(--accent2);
			}

			&.selected {
				background-color: var(--primary-light);
				color: var(--accent2);
				font-weight: bold;

				&:hover {
					cursor: default;
					background-color: var(--primary-light);
					color: var(--accent2);
				}
			}
		}
	}

	&__secondary {
		margin: 1rem 0;
		padding: 0.25rem 1rem 0;
		justify-content: start;

		border-bottom: 1px solid var(--primary-light);
		box-shadow: 2px 1px 2px var(--accent);

		& a {
			padding: 0.25rem 1rem 0;

			font-weight: bold;
			color: var(--accent2);
			border-bottom: 3px solid var(--primary-light);

			&:hover {
				background-color: var(--accent2);
				border-bottom: 3px solid var(--accent2);
				color: var(--primary-light);
			}

			&.selected {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: 3px solid var(--accent2);
				font-weight: bold;

				&:hover {
					cursor: default;
					background-color: var(--primary-light);
					color: var(--accent2);
				}
			}
		}
	}
}
