.nav,
.subnav {
	&__primary {
		justify-content: start;
		align-items: stretch;
		margin: 0;

		& a {
			background-color: var(--primary-blue);
			color: var(--primary-light);
			margin: 0 1px 0 0;
			padding: 0.35rem 1rem;
			border-radius: 0;
			border-bottom: 1px solid transparent;

			&:hover {
				background-color: var(--primary-light);
				color: var(--primary-blue);
			}

			&.selected {
				background-color: var(--primary-light);
				color: var(--primary-blue);
				font-weight: bold;
				border-bottom: 1px solid lightgray;

				&:hover {
					cursor: default;
					background-color: var(--primary-light);
					color: var(--primary-blue);
				}
			}
		}
	}

	&__secondary {
		margin: 1rem 0 0.25rem 0;
		padding: 0.25rem 1rem 0 0.125rem;
		justify-content: start;
		font-size: 0.9rem;

		border-bottom: 1px solid var(--primary-light);
		box-shadow: 2px 1px 2px var(--grey);
		transition: color 0.3s ease-in;

		& a {
			padding: 0.25rem 1rem 0;

			font-weight: bold;
			color: var(--primary-blue);
			border-bottom: 3px solid var(--primary-light);
			border-radius: 0;

			&:hover {
				background-color: var(--primary-blue);
				border-bottom: 3px solid var(--primary-blue);
				color: var(--primary-light);
				border-radius: 0;
			}

			&.selected {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: 3px solid var(--primary-blue);
				font-weight: bold;
				border-bottom-left-radius: 15px;
				border-bottom-right-radius: 15px;

				&:hover {
					cursor: default;
					background-color: var(--primary-light);
					color: var(--primary-blue);
				}
			}
		}
	}
}

.subnav {
	&__primary {
		margin: 1rem 0 0 0.125rem;

		& a {
			padding: 0.125rem 1rem;

			&.selected {
				font-weight: normal;
			}
		}
	}
}
