.flex {
	&__row {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;

		&.start {
			align-items: start;
		}
	}

	&__col {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		&.start {
			align-items: start;
		}
	}
}
