.grid {
	display: grid;
	justify-content: center;
	grid-template-rows: auto;

	&__account {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		border: 1px solid var(--accent);
		margin: auto 0.25rem;
		padding: 1rem 0;
	}
}
