.grid {
	display: grid;
	justify-content: center;
	grid-template-rows: auto;

	&__account {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		border: 1px solid var(--grey);
		padding: 1rem 0;
	}

	&__table {
		text-align: center;
		width: 100%;
		border-collapse: collapse;

		& caption {
			font-weight: bold;
			text-align: left;
			padding: 0.5rem;
		}

		& .table-row {
			&.selected {
				background-color: #fff7c2;
			}
		}

		& th {
			&:hover {
				background-color: #c5cbdc;
			}
		}

		& th,
		tfoot {
			padding: 0.5rem;
			background-color: var(--grey);
			height: 2rem;
		}

		& tr,
		th,
		td {
			border: 2px solid #cccccc;
			font-weight: 400;
		}

		& tbody tr {
			text-align: left;

			.link {
				color: var(--light-blue);

				&:hover {
					text-decoration: underline;
				}
			}
		}

		& td input,
		td input[disabled] {
			width: 100%;
		}

		& td textarea {
			resize: vertical;
			width: 100%;
			margin: 0;
			height: 1.3rem;
			// background-color: var(--grey);
			// border: 1px solid var(--dark-grey);
			// color: black;
		}

		& tfoot {
			& td {
				background-color: var(--grey);
			}
		}

		& svg {
			transform: scale(1.5);
			margin-inline: 0.5rem;
			color: var(--primary-blue);

			&:hover {
				color: var(--rich-blue);
			}
		}
	}
}
